- @title = @cpu.name(:long)
- @meta_description = "Old computers sporting #{@title} CPU available in our database."
- @meta_keywords = "@title, CPU, old computers"

%p.breadcrumbs
  = link_to 'home', root_path
  » 
  = link_to 'CPUs', cpus_path
  » #{@cpu.name(:clock)}

= title_for(@cpu, :clock_name)
%p= sanitize @cpu.description
-if @cpu.all_hardware.empty?
  %p
    The CPU
    %strong= @cpu.name(:clock)
    currently is not used by any computer or peripheral in the database.
- else
  %table.list
    = render :partial => 'computers/hardware', :collection => @cpu.all_hardware