%tr
  %th= f.label :name
  %td= f.text_field :name
%tr
  %th= f.label :country_id
  %td= country_selector(f)
%tr
  %th= f.label :logo
  %td
    = f.file_field :logo
    %br
    %span.light Image should be png 40px height
%tr
  %th= f.label :description
  %td= f.text_area :description, :cols => 40, :rows => 4
    
    