%h1 Listing Manufacturers

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Name
    %th Country
    %th{:colspan => '2'} Actions
  - @manufacturers.each do |manufacturer|
    %tr
      %td= h manufacturer.name
      %td
        = image_tag h(manufacturer.country.flag_image_filename), :height => 10
        = h manufacturer.country_id
      %td= link_to 'Edit', edit_admin_manufacturer_path(manufacturer)
      %td= link_to 'Destroy', admin_manufacturer_path(manufacturer), :confirm => 'Are you sure?', :method => :delete
%p= will_paginate @manufacturers

%p= link_to 'New manufacturer', new_admin_manufacturer_path