- @meta_keywords = "#{@operative_system.name}, operative system"
- @meta_description = "Information about the #{@operative_system.name} operative system."
- @title = @operative_system.name

%p.breadcrumbs
  =link_to 'home', root_path
  » 
  = link_to 'operative systems', operative_systems_path
  » #{@title}

%h2= @title
- if @operative_system.hardware.empty?
  %p
    The operative system
    %strong= @operative_system.name
    is not used by any computer in the database.
- else
  %table.list
    = render :partial => 'computers/hardware', :collection => @operative_system.hardware