%tr
  %th= f.label :hardware_category
  %td= f.select :hardware_category, Hardware::CATEGORIES
%tr
  %th= f.label :name
  %td= f.text_field :name
%tr
  %th= f.label :manufacturer_id
  %td= manufacturer_selector(f)
%tr
  %th= f.label :hardware_type_id
  %td= hardware_type_selector(f)
%tr
  %th= f.label :production_start
  %td= year_selector(:production_start, f)
%tr
  %th= f.label :production_stop
  %td= year_selector(:production_stop, f)
%tr
  %th= f.label :code
  %td= f.text_field :code
%tr
  %th= f.label :codename
  %td= f.text_field :codename
%tr
  %th= f.label :builtin_language_id
  %td= builtin_language_selector(f)
%tr
  %th= f.label :ram
  %td= f.text_field :ram
%tr
  %th= f.label :vram
  %td= f.text_field :vram
%tr
  %th= f.label :rom
  %td= f.text_field :rom
%tr
  %th= f.label :description
  %td= f.text_area :description, :cols => 50, :rows => 6
%tr
  %th= f.label :text_modes
  %td= f.text_area :text_modes, :cols => 35, :rows => 3
%tr
  %th= f.label :graphic_modes
  %td= f.text_area :graphic_modes, :cols => 35, :rows => 3
%tr
  %th= f.label :sound
  %td= f.text_area :sound, :cols => 35, :rows => 3
%tr
  %th= f.label :notes
  %td= f.text_area :notes, :cols => 35, :rows => 3