- model = purchaseable.class.name.downcase

%h2 Original Sale Prices
%table
  - purchaseable.original_prices.untainted.sort_by(&:date).each do |price|
    %tr
      %td= price.country_id
      %td= sprintf("#{price.currency_id} %.2f", price.amount)
      %td= price.date.strftime('%Y, %B')
      %td= link_to 'destroy', send("admin_#{model}_original_price_path", price.purchaseable.id, price), :method => :delete, :confirm => 'Are you sure?'

- form_for OriginalPrice.new, :url => send("admin_#{model}_original_prices_path", purchaseable) do |f|
  %table
    %tr
      %th Country
      %th Currency
      %th Amount
      %th Date
      %th
    %tr
      %td= country_selector(f)
      %td= currency_selector(f)
      %td= f.text_field :amount, :size => 12
      %td= f.date_select :date, :start_year => 1975, :discard_day => true
      %td= f.submit 'Add Price'
