%ul.tabs 
  %li= link_to 'Main', '#main', :class => 'tab'
  %li= link_to 'Associations', '#associations', :class => 'tab'
  %li= link_to 'Original Prices', '#original_prices', :class => 'tab'
  %li= link_to 'Images', admin_hardware_images_path(@hardware)
  %li= link_to 'Price Statistics', ''