%h1 Listing #{hardware_category(params[:category])}

%ul#hardware_categories
  %li= link_to 'computers', admin_hardware_index_path + "?category=computer"
  %li= link_to 'peripherals', admin_hardware_index_path + "?category=peripheral"

= render :partial => 'search_form', :locals => { :path => admin_hardware_index_path, :option_values => Hardware::SEARCH_FIELDS, :hidden => {:value => params[:category], :name => :category}}

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Hardware Name
    %th Manufacturer
    %th Category
    %th Type
    %th Prod. Start
    %th Prod. Stop
    %th Builtin Language
    %th Description
    %th Notes
    %th CPUs
    %th Co-CPUs
    %th Mass Storage
    %th I/O Ports
    %th OSes
    %th

  = render :partial => @hardware


%p= will_paginate @hardware
%p= link_to 'New hardware', new_admin_hardware_path