- @title = @co_cpu.name(:long)
- @meta_description = "Information and computers sporting the #{@title} co-CPU available in our database."
- @meta_keywords = "@title, co-cpu, information"

%p.breadcrumbs
  = link_to 'home', root_path
  »
  = link_to 'co-CPUs', co_cpus_path
  » #{@co_cpu.name}

= title_for(@co_cpu)
%p= @co_cpu.description
- if @co_cpu.hardware.empty?
  %p
    The co-CPU
    %strong= @co_cpu.name
    is not currently used by any computer or peripheral in the database.
- else
  %table.list
    = render :partial => 'hardware/hardware', :collection => @co_cpu.hardware.by_manufacturer