%h1 New co-CPU Type

- form_for(@co_cpu_type, :url => admin_co_cpu_types_path) do |f|
  = f.error_messages
  %table.record
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'
  
%p= link_to 'Back', admin_co_cpu_types_path