
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :manufacturer %><br />
  <%= manufacturer_selector(f) %>
</p>
<p>
  <%= f.label :peripheral_type %><br />
  <%= peripheral_type_selector(f) %>
</p>
<p>
  <%= f.label :production_start %><br />
  <%= year_selector :production_start, f %>
</p>
<p>
  <%= f.label :production_stop %><br />
  <%= year_selector :production_stop, f %>
</p>
<p>
  <%= f.label :code %><br />
  <%= f.text_field :code %>
</p>
<p>
  <%= f.label :ram %><br />
  <%= f.text_field :ram %>
</p>
<p>
  <%= f.label :rom %><br />
  <%= f.text_field :rom %>
</p>
<p>
  <%= f.label :notes %><br />
  <%= f.text_area :notes, :cols => 35, :rows => 3 %>
</p>