= render :partial => 'admin/computers/tabs_js'

%h1 Editing Peripheral

= render :partial => 'admin/computers/tabs_navigation'

#main.section
  - form_for(@peripheral, :url => admin_peripheral_path(@peripheral)) do |f| 
    = f.error_messages 
    %table.record
      = render :partial => 'form_fields', :locals => {:f => f} 
      %tr
        %td.center{:colspan => 2}= f.submit 'Update'

#associations.section
  = render :partial => 'associator', :locals => {:model => 'cpu'}
  = render :partial => 'associator', :locals => {:model => 'builtin_storage'}
  = render :partial => 'associator', :locals => {:model => 'io_port'}

#original_prices.section
  = render :partial => 'admin/computers/original_prices', :locals => {:purchaseable => @peripheral}
  
%p= link_to 'Back', admin_peripherals_path 