<h1>Listing peripherals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Peripheral type</th>
    <th>Production start</th>
    <th>Production stop</th>
    <th>Code</th>
    <th>Ram</th>
    <th>Rom</th>
    <th>Notes</th>
		<th colspan="2">Actions</th>
  </tr>

<% @peripherals.each do |peripheral| %>
  <tr>
    <td><%=h peripheral.name %></td>
    <td><%=h peripheral.manufacturer.name %></td>
    <td><%=h peripheral.peripheral_type_id %></td>
    <td><%=h peripheral.production_start %></td>
    <td><%=h peripheral.production_stop %></td>
    <td><%=h peripheral.code %></td>
    <td><%=h peripheral.ram %></td>
    <td><%=h peripheral.rom %></td>
    <td><%=h peripheral.notes %></td>
    <td><%= link_to 'Edit', edit_admin_peripheral_path(peripheral) %></td>
    <td><%= link_to 'Destroy', admin_peripheral_path(peripheral), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New peripheral', new_admin_peripheral_path %>