%table.specifications{:cellpadding => 0, :cellspacing => 1}
  %caption Ebay Values
  %tr
    %th Website
    %th Average Price
    %th Min Price
    %th Max Price
    %th Auctions
  - EbaySite.ordered.each do |site|
    %tr
      - data = hardware.auctions.closed.sold_in(site).map(&:final_price).compact
      - unless data.empty?
        - currency = site.currency_id
        - average = data.sum / data.size
      %td.center= flag_thumbnail(site, 20)
      %td= average && sprintf("#{currency} %.2f", average) || '-'
      %td= data.min && sprintf("#{currency} %.2f", data.min) || '-'
      %td= data.max && sprintf("#{currency} %.2f", data.max) || '-'
      %td.center= data.size