%table.specifications{:cellpadding => 0, :cellspacing => 1}
  %caption Hardware Specifications
  %tr
    %th Manufacturer
    %td.wide= link_to hardware.manufacturer.name, hardware.manufacturer
  %tr
    %th Name
    %td= hardware.name
  - unless hardware.code.blank?
    %tr
      %th Code
      %td= hardware.code
  - unless hardware.codename.blank?
    %tr
      %th Codename
      %td= hardware.codename
  %tr
    %th Category
    %td= link_to hardware.hardware_type.name, hardware_type_path(hardware.hardware_type)
  %tr
    %th Production Years
    %td #{hardware.production_start} - #{hardware.production_stop}
  - unless hardware.cpus.empty?
    = specs_tr_for 'CPU', hardware.cpus
  - unless hardware.ram.blank?
    %tr  
      %th Ram
      %td= hardware.ram
  - unless hardware.rom.blank?
    %tr
      %th Rom
      %td= hardware.rom
  - unless hardware.vram.blank?
    %tr
      %th Video Ram
      %td= hardware.vram
  - unless hardware.text_modes.blank?
    %tr
      %th Graphic modes
      %td= hardware.graphic_modes
  - unless hardware.text_modes.blank?
    %tr
      %th Text modes
      %td= hardware.text_modes
  - unless hardware.sound.blank?
    %tr
      %th Sound
      %td= hardware.sound
  - unless hardware.co_cpus.empty?
    = specs_tr_for 'co-CPU', hardware.co_cpus, :table_name
  = specs_tr_for 'I/O Ports', hardware.io_ports, :full_name
  - unless hardware.builtin_storages.empty?
    = specs_tr_for 'Mass Storage', hardware.builtin_storages, :full_name
  - if hardware.builtin_language
    %tr
      %th Builtin Language
      %td= link_to(hardware.builtin_language.name, builtin_language_path(hardware.builtin_language))
  - unless hardware.operative_systems.empty?
    = specs_tr_for 'Operative Systems', hardware.operative_systems
  %tr
    %th Notes
    %td= hardware.notes