- @meta_description = "List of computers starting with the #{params[:letter]} letter avaliable in our database."
- @meta_keywords = 'computers, old computers, retrocomputing'
- @title = "computers"

%p.breadcrumbs
  =link_to 'home', root_path
  » #{params[:letter]}-computers
  
%h2 Computers
- if params[:letter]
  - if @computers.empty?
    %p
      No computer was found starting with the
      %strong= params[:letter].upcase
      letter.
  - else
    %p
      Computers starting with 
      %strong= params[:letter].upcase
      letter:
    %table.list
      = render :partial => 'hardware', :collection => @computers
      
