- @title = @computer.full_name

- if session[:return_to]
  %p.breadcrumbs
    =link_to 'home', root_path
    »
    =link_to session[:return_to][:name], session[:return_to][:url]
    »
    = @computer.name
  
= title_for(@computer)
#info
  %p= @computer.description
#images
  = render :partial => 'images', :locals => {:images => @computer.images}
#specs
  = render :partial => 'specs', :locals => {:hardware => @computer}
#retail-prices
  = render :partial => 'retail_prices', :locals => {:hardware => @computer}
#values
  = render :partial => 'ebay_values', :locals => {:hardware => @computer}