%h1 New Hardware Type

- form_for(@hardware_type, :url => admin_hardware_types_path) do |f|
  = f.error_messages
  %table.record
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'
      
%p= link_to 'Back', admin_hardware_types_path