<h1>Listing Builtin Storages</h1>

<table>
  <tr>
    <th>Storage name</th>
    <th>Storage format</th>
    <th>Storage size</th>
  </tr>

<% @builtin_storages.each do |builtin_storage| %>
  <tr>
    <td><%=h builtin_storage.storage_name_id %></td>
    <td><%=h builtin_storage.storage_format_id %></td>
    <td><%=h builtin_storage.storage_size_id %></td>
    <td><%= link_to 'Edit', edit_admin_builtin_storage_path(builtin_storage) %></td>
    <td><%= link_to 'Destroy', admin_builtin_storage_path(builtin_storage), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New builtin storage', new_admin_builtin_storage_path %>