%tr{:id => auction.item_id}
  %td= image_tag h(auction.picture), :class => 'ebay_gallery'
  %td= link_to auction.hardware.name, edit_admin_hardware_path(auction.hardware)
  %td= link_to truncate(auction.title), auction.url, :onclick => "window.open('#{auction.url}');return false"
  %td.center= auction.ebay_site_id
  %td
    = "#{auction.completeness},"
    = auction.cosmetic_conditions
    conditions
  %td.price.right= render :partial => 'final_price', :locals => {:auction => auction}
  %td= link_to 'Edit', edit_admin_auction_path(auction)
  %td= link_to 'pdf', admin_auction_path(auction, :format => 'pdf') if auction.recent?
  %td.destroy= button_to 'Destroy', admin_auction_path(auction), :method => :delete