%h1 Search Ebay
- form_for :resultset, :url => admin_resultset_path do |f|
  %p
    = f.label :keywords
    = f.text_field :keywords
    = f.label :ebay_site_id
    = ebay_site_selector(f)
    = f.label :page_number
    = f.select :page_number, (1..10).to_a
    = f.label :category_id, 'search Computers category only'
    = f.check_box :category_id, :checked => true
    = f.submit 'search'
  