%h1 Editing auction

- form_for [:admin, @auction] do |f| 
  = f.error_messages 
  %table.record
    %tr
      %th= f.label :title 
      %td= f.text_field :title
    %tr
      %th= f.label :final_price
      %td= f.text_field :final_price   
    %tr
      %th= f.label :hardware_id
      %td= hardware_selector(f)
    %tr
      %th= f.label :cosmetic_conditions 
      %td= f.select :cosmetic_conditions, Auction::COSMETIC_CONDITIONS 
    %tr
      %th= f.label :completeness 
      %td= f.select :completeness, Auction::COMPLETENESSES 
    %tr
      %th= f.label :ebay_site_id 
      %td= ebay_site_selector(f) 
    %tr
      %th= f.label :currency_id 
      %td= currency_selector(f)
      
    %tr
      %th= f.label :end_time
      %td= @auction.end_time.to_s(:short)
    %tr
      %td.center{:colspan => 2}= f.submit 'Update' 

%p= link_to 'Back', admin_auctions_path 