%h1 Listing Auctions

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Image
    %th Hardware
    %th Title
    %th Location
    %th Conditions
    %th End time/Price
    %th{:colspan => 2} Actions
  - @auctions.each do |auction|
    %tr
      %td= image_tag auction.image_url || 'no image', :class => 'ebay_gallery'
      %td= auction.hardware.name
      %td= link_to truncate(auction.title), '#', :onclick => "window.open('#{auction.url}')"
      %td.center= auction.ebay_site_id
      %td
        = "#{auction.completeness},"
        = auction.cosmetic_conditions
        conditions
      %td.right= render :partial => 'final_price', :locals => {:auction => auction}
      %td= link_to 'Edit', edit_admin_auction_path(auction)
      %td= link_to 'Destroy', admin_auction_path(auction), :method => :delete, :confirm => 'are you sure?'

%p= will_paginate @auctions