%h1 Listing Countries

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Name
    %th Flag
    %th Actions
  - @countries.each do |country|
    %tr
      %td= h country.name
      %td= flag_thumbnail(country)
      %td= link_to 'Destroy', admin_country_path(country), :confirm => 'Are you sure?', :method => :delete
%p= will_paginate @countries

%p= link_to 'New country', new_admin_country_path