%h1 New Country

- form_for [:admin, @country], :html => {:multipart => true} do |f|
  = f.error_messages
  %table.record
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th= f.label :flag
      %td
        = f.file_field :flag
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

= link_to 'Back', admin_countries_path