%h1 New Country

- form_for @country, :url => admin_countries_path do |f|
  = f.error_messages
  %table.record
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

= link_to 'Back', admin_countries_path