%h1 New Country

- form_for @country do |f|
  = f.error_messages
  %table
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

= link_to 'Back', countries_path