%h1 New Country

- form_for @country, :url => admin_countries_path, :html => {:multipart => true} do |f|
  = f.error_messages
  %table.record
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th= f.label :flag_file
      %td
        = f.file_field :flag_file
        %br
        %span.light Image must be 60x40 pixels .png format
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

= link_to 'Back', admin_countries_path