%h1 New Computer Type

- form_for(@computer_type) do |f|
  = f.error_messages
  %table
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'
      
%p= link_to 'Back', computer_types_path