- @meta_keywords = "#{@peripheral.full_name}, data, old computers peripheral "
- @meta_description = "informations about the peripheral #{@peripheral.full_name}"
- @title = @peripheral.full_name

- if session[:return_to]
  %p.breadcrumbs
    =link_to 'home', root_path
    »
    =link_to session[:return_to][:name], session[:return_to][:url]
    »
    = @peripheral.name

= title_for(@peripheral)
#info
  %p= @peripheral.description
#images
  = render :partial => 'computers/images', :locals => {:images => @peripheral.images}
#specs
  = render :partial => 'computers/specs', :locals => {:hardware => @peripheral}
#retail-prices
  = render :partial => 'computers/retail_prices', :locals => {:hardware => @peripheral}
#values
  = render :partial => 'computers/ebay_values', :locals => {:hardware => @peripheral}
