= title_for(@peripheral)
#info
  %p= @peripheral.description
#images
  = render :partial => 'computers/images', :locals => {:images => @peripheral.images}
#specs
  = render :partial => 'computers/specs', :locals => {:hardware => @peripheral}
#retail-prices
  = render :partial => 'computers/retail_prices', :locals => {:hardware => @peripheral}
#values
  = render :partial => 'computers/ebay_values', :locals => {:hardware => @peripheral}
