- @meta_keywords = "#{@hardware_type.name}, hardware, old computers"
- @meta_description = "Computers or peripheral available in the #{@hardware_type.name} category."
- @title = @hardware_type.name.pluralize

%p.breadcrumbs
  = link_to 'home', root_path
  »
  = link_to 'hardware categories', hardware_types_path
  » #{@title}

%h2= @title
- if @hardware_type.hardware.empty?
  %p
    The category
    %strong= @hardware_type.name
    currently doesn't include any computer or peripheral.
- else
  %table.list
    = render :partial => 'computers/hardware', :collection => @hardware_type.hardware

