- @keywords = "#{params[:query]}, retrocomputing, old computers, wait 6502"
- @description = "search results for the keywords #{params[:query]}"
- @title = %(results for "#{params[:query]}")

%p.breadcrumbs
  =link_to 'home', root_path
  » search results

%h2 Search results for "#{params[:query]}"

-[[:computer, @computers], [:peripheral, @peripherals]].each do |data|
  - model = data[0]
  - name = model.to_s
  - collection = data[1]
  %h3.spaced= name.capitalize.pluralize
  - if collection.empty?
    %p= "No #{name} matched your keywords"
  - else
    %table.list
      = render :partial => "/hardware/hardware", :collection => collection

- [[:manufacturer, 'Manufacturer'], [:cpu, 'CPU'], [:co_cpu, 'co CPU']].each do |data|
  - model = data[0]
  - name = data[1] || model.to_s
  %h3.spaced= name.pluralize
  - if @search.results[model].empty?
    %p= "No #{name} matched your keywords"
  - else
    %table.list
      = render :partial => "/#{model}s/#{model}", :collection => @search.results[model]