- @title = %(results for "#{params[:query]}")

- computers, peripherals = @search.results[:hardware].partition{|h| h.hardware_category == 'computer'}

%h2 Computers
%table.list
  - if computers.empty?
    %p= 'No computer matched your keywords.'
  - else
    = render :partial => '/computers/hardware', :collection =>  computers

%h2.spaced Peripherals
%table.list
  - if peripherals.empty?
    %p= 'No peripheral matched your keywords.'
  - else
    = render :partial => '/computers/hardware', :collection =>  peripherals

%h2.spaced Manufacturers
%table.list
  - if @search.results[:manufacturer].empty?
    %p= 'No manufacturer matched your keywords.'
  - else
    = render :partial => '/manufacturers/manufacturer', :collection => @search.results[:manufacturer]

%h2.spaced CPUs
%table.list
  - if @search.results[:cpu].empty?
    %p= 'No CPU matched your keywords.'
  - else
    = render :partial => '/cpus/cpu', :collection => @search.results[:cpu]
  
%h2.spaced Co CPUs
%table.list
  - if @search.results[:co_cpu].empty?
    %p= 'No co CPU matched your keywords.'
  - else
    = render :partial => '/co_cpus/co_cpu', :collection => @search.results[:co_cpu]