%h1 Listing Currencies

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Code
    %th Symbol
    %th{:colspan => 2} Actions
  - @currencies.each do |currency|
    %tr
      %td= h currency.code
      %td= h currency.symbol
      %td= link_to 'Edit', edit_admin_currency_path(currency) 
      %td= link_to 'Destroy', admin_currency_path(currency), :confirm => 'Are you sure?', :method => :delete
%p= will_paginate @currencies
    
%p= link_to 'New currency', new_admin_currency_path
      