%table.specifications{:cellpadding => 0, :cellspacing => 1}
  %caption
    Retail Sales Prices
    %a{:href=>'#', :id => 'help_us'}= image_tag('/images/helpus.png')
  %tr
    %th Country
    %th Year
    %th Retail Price
  - if @hardware.original_prices.untainted.empty?
    %tr
      %td.center{:colspan => 3} no data available
  - else
    - @hardware.original_prices.untainted.ordered.each do |price|
      %tr
        %td= price.country_id
        %td= price.date.year
        %td.right= price_for(price)
        
- content_for :head do
  = javascript_include_tag 'form_helper'

%div#price_form
  %p
    Please help us collect reliable data about the 
    %strong= @hardware.name
    prices during the good old days when it was avaliable in stores.
    Just fill in the form and let us add your price to the database data.
  - form_for OriginalPrice.new, :url => create_tainted_original_prices_path, :html => {:id => 'add_price_form'} do |f|
    = hidden_field_tag :hardware_id, @hardware.id
    %table.specifications{:cellpadding => 0, :cellspacing => 1}
      %tr
        %th Country
        %th Currency
        %th Amount
        %th Date
        %th
      %tr
        %td= country_selector(f)
        %td= currency_selector(f)
        %td= f.text_field :amount, :size => 12
        %td= f.date_select :date, :start_year => 1970, :discard_day => true    
        %td.submit= f.submit 'add price'
  #message