%h1
  New Ebay Keyword for
  = @searchable.name

= render :partial => 'tabs_navigation'

- form_for(@ebay_keyword, :url => admin_searchable_ebay_keywords_path(@searchable)) do |f|
  = f.error_messages
  %table.record
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

%p= link_to 'Back', admin_searchable_ebay_keywords_path(@searchable)