%h1= "#{@imageable.name} Images"

%table
  %tr
    %th Image
    %th  Title
    %th Caption

  - @images.each do |image|
    %tr
      %td= image_tag(image.filename(:thumb))
      %td= h image.title
      %td= h truncate(image.caption)
      %td= link_to 'Edit', edit_admin_imageable_image_path(@imageable, image)
      %td= link_to 'Destroy', admin_imageable_image_path(@imageable, image), :confirm => 'Are you sure?', :method => :delete

%p= link_to 'New image', new_admin_imageable_image_path(@imageable)