%h1= "New Image for #{@imageable.name}"

= render 'tabs_navigation'

- form_for(@image, :url => admin_imageable_images_path(@imageable), :html => {:multipart => true}) do |f|
  = f.error_messages
  %table.record
    %tr
      %th= f.label :uploaded_file, 'Image File'
      %td= f.file_field :uploaded_file
    =render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'

%p= link_to 'Back', admin_imageable_images_path(@imageable)