%h1 Listing IO Ports

= render :partial => 'admin/hardware/search_form', :locals => { :path => admin_io_ports_path, :option_values => IoPort::SEARCH_FIELDS, :hidden => {}}

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Name
    %th Connector
    %th{:colspan => 2} Actions
  - @io_ports.each do |port|
    %tr
      %td= h port.name
      %td= h port.connector
      %td= link_to 'Edit', edit_admin_io_port_path(port)
      %td= link_to 'Destroy', admin_io_port_path(port), :confirm => 'Are you sure?', :method => :delete

%p= will_paginate @io_ports
%p= link_to 'New io port', new_admin_io_port_path