<h1>Listing IO Ports</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Connector</th>
  </tr>

<% @io_ports.each do |io_port| %>
  <tr>
    <td><%=h io_port.name %></td>
    <td><%=h io_port.connector %></td>
    <td><%= link_to 'Show', io_port %></td>
    <td><%= link_to 'Edit', edit_io_port_path(io_port) %></td>
    <td><%= link_to 'Destroy', io_port, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New io port', new_io_port_path %>