%h1 New User

- form_for [:admin, @user] do |f|
  = f.error_messages
  %table.record
    %tr
      %th= f.label :email
      %td= f.text_field :email
    %tr
      %th= f.label :password
      %td= f.text_field :password
    %tr
      %th= f.label :password_confirmation
      %td= f.text_field :password_confirmation
    %tr
      %td.center{:colspan => 2}= f.submit 'create'

%p= link_to 'users list', admin_users_path