%h1 Listing Operative Systems

%table.list{:cellpadding => 0, :cellspacing => 1}
  %tr
    %th Name
    %th{:colspan => 2} Actions
  - @operative_systems.each do |os|
    %tr
      %td= h os.name
      %td= link_to 'edit', edit_admin_operative_system_path(os)
      %td= link_to 'destroy', admin_operative_system_path(os), :confirm => 'Are you sure?', :method => :delete

%p= will_paginate @operative_systems
%p= link_to 'New operative system', new_admin_operative_system_path
