%h1= "Add #{model.capitalize}"
%table
  %tr
    %th= "Associated #{model.capitalize}"
    %th Actions
    - @computer.send(model.pluralize).each do |record|
      %tr
        %td= record.full_name
        %td
          - form_tag send("remove_#{model}_admin_computer_path", @computer), :method => :delete do
            = hidden_field_tag "#{model}_id", record.id
            = submit_tag 'remove'

- form_tag send("add_#{model}_admin_computer_path", @computer), :method => :put do
  %table
    %tr
      %td= select_tag "#{model}_id", options_from_collection_for_select(model.classify.constantize.ordered, :id, :full_name)
      %td= submit_tag 'Add'
  
  