%h1 Editing Computer

- form_for(@computer, :url => admin_computer_path(@computer)) do |f|
  = f.error_messages
  %table
    = render :partial => 'form_fields', :locals => {:f => f}
    %tr
      %td.center{:colspan => 2}= f.submit 'Update'

= render :partial => 'associator', :locals => {:model => 'cpu'}
= render :partial => 'associator', :locals => {:model => 'builtin_storage'}
= render :partial => 'associator', :locals => {:model => 'operative_system'}

%p= link_to 'Back', admin_computers_path