%h1 Listing Computers

%table
  %tr
    %th Name
    %th Manufacturer
    %th Type
    %th Prod. Start
    %th Prod. Stop
    %th Code
    %th Codename
    %th Builtin Language
    %th Ram
    %th Vram
    %th Rom
    %th Text
    %th Graphics
    %th Sound
    %th Notes
    %th CPUs
    %th Co-CPUs
    %th Mass Storage
    %th I/O Ports
    %th OSes
    %th{:colspan => 2} Actions

  - @computers.each do |computer|
    %tr
      %td= h computer.name
      %td= h computer.manufacturer.name
      %td= h computer.computer_type_id
      %td= h computer.production_start
      %td= h computer.production_stop
      %td= h computer.code
      %td= h computer.codename
      %td= h computer.builtin_language_id
      %td= truncate h(computer.ram)
      %td= truncate h(computer.vram)
      %td= truncate h(computer.rom)
      %td= truncate h(computer.text_modes)
      %td= truncate h(computer.graphic_modes)
      %td= truncate h(computer.sound)
      %td= truncate h(computer.notes)
      %td= h computer.cpu_names
      %td= truncate h(computer.co_cpu_names)
      %td= h computer.storage_names
      %td= truncate h(computer.io_port_names)
      %td= h computer.os_names
      %td=  link_to 'Edit', edit_admin_computer_path(computer)
      %td=  link_to 'Destroy', admin_computer_path(computer), :confirm => 'Are you sure?', :method => :delete

%p= will_paginate @computers
%p= link_to 'New computer', new_admin_computer_path