- @title = @io_port.name.capitalize

%p.breadcrumbs
  = link_to 'home', root_path
  »
  = link_to 'I/O ports', io_ports_path
  » #{@title}

%h2= @title
- if @io_port.hardware.empty?
  %p
    The port
    %strong= @io_port.name
    currently is not present in any computer or peripheral.
- else
  %table.list
    = render :partial => 'hardware/hardware', :collection => @io_port.hardware.by_manufacturer