%h1 New Builtin Language

- form_for(@builtin_language, :url => admin_builtin_languages_path) do |f|
  = f.error_messages
  %table
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %td.center{:colspan => 2}= f.submit 'Create'
  
%p= link_to 'Back', admin_builtin_languages_path