- @meta_description = "List of computers and peripherals produced by #{@manufacturer.name}."
- @meta_keywords = "#{@manufacturer.name}, computer manufacturer, computers by #{@manufacturer.name}"
- @title = @manufacturer.name

%p.breadcrumbs
  =link_to 'home', root_path
  » 
  = link_to 'manufacturers', manufacturers_path
  » #{@title}

= title_for(@manufacturer)
%p= @manufacturer.description

- if @manufacturer.hardware.empty?
  %p 
    Currently there is no computer or peripheral made by
    %strong= @manufacturer.name
    in the database.
-else
  %table.list
    = render :partial => 'computers/hardware', :collection => @manufacturer.hardware
  