- @title = 'welcome'
- content_for :sidebar do
  - if @image
    #random_hardware
      %h2= @image.imageable.name
      = link_to image_tag(@image.picture(:small)), send("#{@image.imageable.hardware_category.downcase}_path", @image.imageable)
    
  #stats
    %table{:cellspacing => '7'}
      %caption Database Statistics
      %tr
        %td computers:
        %td= @stats[0]
      %tr
        %td peripherals:
        %td= @stats[1]
      %tr
        %td auctions:
        %td= @stats[2]
        
%p.breadcrumbs
  =link_to 'home', root_path
  
%h2 Welcome to WAIT 6502

%div.section
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
    reprehenderit in voluptate velit esse cillum dolore  
    =computer_image(@upper_image, :class => 'right')
%div.section
  %h3 Why yet another retrocomputing website?
  %p  
    This is for sure a good question. We believe there are many great resources
    on old computer stuff available in the Internet, but we wanted to become part of it with
    our personal project :-) <br />
    Besides, we aim to collect data that is not available anywhere else yet.
    For example we are interested in original retail prices of the items in our museum at 
    different times and in different locations during the days when those items where
    still available for sale.<br />
    You can help us right now, just browse to any hardware item page and fill in the data
    in the "help us" section.
  
  %p
    = computer_image(@lower_image, :class =>'lower_image')
    We also built an automated system that checks major ebay websites in order to track
    information on retrocomputing related items and their final prices. 
    As many machines  are getting rarer and rarer the ebay marketplace is a good and quick
    resource to find them, so our data could become a useful reference for buyers who
    are willing to pay not more than the right price for those computers.<br />
    On the other hand there are still many cheap computers around that can be easily
    found at flea markets, thrift shops, garage sales, friends homes or arranging exchanges
    with other retrocomputing enthusiasts, so we encourage people to use as many sources
    as possible.

%div.section.about
  %h3 About WAIT 6502
  %p
    %img{:src => '/images/wait6502.jpg', :style => 'float:left;margin:10px 15px;'}  
    The name of this site is a tribute to the famous Commodore PET Basic Easter
    egg command <code>WAIT 6502</code> that will fill out the little
    PET monitor with the string <code>MICROSOFT!</code>.<br />
    This website logo itself is a representation of the keys on the early PET keyboard,
    while the computer is represented in the page header and its keyboard is used in the
    computer navigation system. By now it should be clear to everyone that the designer
    of this site is a big fan of this machine.
  %p
    If you have any comment, idea, suggestion or just want to have some words with us about
    those old glorious computers please contact us, we would love to hear from you.
  %p
    Now pick up a link in the left sidebar and start browsing... have fun!
