#search
  - form_tag search_path, :method => :get do
    = text_field_tag :query, params[:query] || 'search'
    = submit_tag :search, :name => nil
%ul.leftnav
  %li.computers
    %a hardware »
    %ul.subnav
      %li.keyboard
        - Keys.keys.each do |k|
          = link_to k[:letter], "#{hardware_index_path}?letter=#{k[:letter]}", :class => k[:class], :style => k[:style]            
  %li.leftnav= link_to 'manufacturers', manufacturers_path
  %li.leftnav= link_to 'categories', hardware_types_path
  %li.leftnav= link_to 'CPUs', cpus_path
  %li.leftnav= link_to 'co-CPUs', co_cpus_path
  %li.leftnav= link_to 'I/O ports', io_ports_path
  %li.leftnav= link_to 'operative systems', operative_systems_path
  %li.leftnav= link_to 'builtin languages', builtin_languages_path
  %li.leftnav= link_to 'mass storage units', builtin_storages_path
= yield :sidebar
<!-- AddThis Button BEGIN -->

%p.add_this
  <a class="addthis_button" href="http://addthis.com/bookmark.php?v=250&amp;username=xa-4c5ab02d4798bd3c"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c5ab02d4798bd3c"></script>
  <!-- AddThis Button END -->
