!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "it", :lang => "it"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}/
    %title= @title || 'default page title'
    = stylesheet_link_tag 'default'
    = yield :head
  %body
    %navigation
      %ul
        %li= link_to 'computers', computers_path
        %li= link_to 'peripherals', peripherals_path
        %li= link_to 'CPUs', cpus_path
        %li= link_to 'brands', brands_path
        - if current_user
          %li= link_to 'logout', logout_path
          %li= link_to 'admin area', admin_hardware_index_path
        - else
          %li= link_to 'login', login_path
          
    - flash.each_pair do |type, message|
      %p{:class => type}= message
      
    = yield
