!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}/
    %meta{:name => 'keywords', :content => @meta_keywords || 'retrocomputing, old computers, vintage hardware, wait 6502'}/
    %meta{:name => 'description', :content => @meta_description || 'Welcome to WAIT6502, a new resource for retrocomputing enthusiasts.'}/
    %title= "WAIT 6502 retrocomputing - #{@title}"
    = stylesheet_link_tag 'museum'
    = javascript_include_tag 'jquery-1.3.2.min', 'museum'
    <!--[if lt IE 7]>
    = javascript_include_tag 'jquery.pngFix.pack'
    <![endif]-->
    = yield :head
  %body
    #topnav
      = render 'layouts/top_nav'
    #header{:style => 'position:relative'}
      %h1= link_to 'Wait 6502 old computers and retrocomputing', root_path
      %img{:src => '/images/pet.png', :alt => 'PET-2001'}
        
    .flash
      - flash.each_pair do |type, message|
        %p{:class => type}= message
    #container
      #left-column
        = render 'layouts/left_column'
      #right-column
        = yield
    
    #footer
      %p
        = link_to APP_CONFIG['email'], "mailto:#{APP_CONFIG['email']}", :id => 'email'
        %br
          © 2009
          = APP_CONFIG['credits']